body {
    background-color: #ED3237;
    background-image: url(/3-ingles-banner-site.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    height: 100vh;
}
